# tag (Active development)
[submodule ".PluginSource/UnityHidApiPlugin"]
	path = .PluginSource/UnityHidApiPlugin
	url = https://github.com/istareatscreens/UnityHidApiPlugin
	branch = master
[submodule ".PluginSource/UnityTouchApiPlugin"]
	path = .PluginSource/UnityTouchApiPlugin
	url = https://github.com/istareatscreens/UnityTouchApiPlugin.git
	branch = master
